anytree==2.8.0
asset-scanner==1.0.1
cachetools==5.0.0
ceda-directory-tree==1.0.0
certifi==2021.10.8
chardet==4.0.0
idna==2.10
pydantic==1.9.0
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
tqdm==4.62.3
typing-extensions==4.0.1
urllib3==1.26.8
